@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 8rem auto 10rem;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}

.middle{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: center;
    padding: 2rem 0rem;
}

.mid{
    width: 50vw;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
}

@media screen and (max-width: 1200px) {
    .mid{
        width: 90vw;
    }
    
}
